.container {
  height: 200vh;
  position: relative;

  .sticky {
    position: sticky;
    overflow: hidden;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .el {
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      .imageContainer {
        position: relative;
        width: 30vw;
        height: 25vh;
        img {
          object-fit: cover;
        }
      }
      &:nth-of-type(2) {
        .imageContainer {
          top: -27vh;
          left: -32vw;
        }
      }
      &:nth-of-type(3) {
        .imageContainer {
          top: -27vh;
          left: 0vw;
        }
      }
      &:nth-of-type(4) {
        .imageContainer {
          top: -27vh;
          right: -32vw;
        }
      }
      &:nth-of-type(5) {
        .imageContainer {
          top: 0vh;
          left: -32vw;
        }
      }
      &:nth-of-type(6) {
        .imageContainer {
          top: 0vh;
          right: -32vw;
        }
      }
      &:nth-of-type(7) {
        .imageContainer {
          top: 27vh;
          left: -32vw;
        }
      }
      &:nth-of-type(8) {
        .imageContainer {
          top: 27vh;
        }
      }
      &:nth-of-type(9) {
        .imageContainer {
          top: 27vh;
          right: -32vw;
        }
      }
      &:nth-of-type(10) {
        opacity: 0;
      }
    }
  }
}
