.container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 70px;
  width: auto;
  // background-color: hsla(0, 0%, 100%, 0.8);
  z-index: 100;

  a {
    color: #1a2637;
    font-size: 1rem;
    transition: color 0.5s ease;
  }

  nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    ul {
      display: flex;

      li {
        margin-right: 1.25rem;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  button {
    display: none;
  }

  @media screen and (max-width: 780px) {
    nav {
      display: none;
    }

    button {
      display: block;
    }
  }
}

.sideNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 2rem;
  width: 100vw;
  height: 100dvh;
  opacity: 0;
  transform: translateX(100%);
  background-color: rgba(255, 255, 255, 0.7);
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 90;

  nav {
    display: none;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 12rem;

      a {
        font-size: 1.3rem;
      }
    }
  }

  &-on {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    opacity: 1;
    transform: translateX(0%);
    overflow: hidden;

    nav {
      display: block;
    }
  }
}
