@import "./reset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overscroll-behavior: none;
}

html,
body {
  position: fixed;
  overflow: hidden;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100dvh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
}
